# ====================================
# Python / Django
# ====================================
__pycache__/
*.py[cod]
*$py.class

# Виртуальное окружение
venv/
env/

# Логи
*.log

# ====================================
# Django
# ====================================
# Локальная база данных
db.sqlite3

# Собранные статические файлы (collectstatic)
/static/

# Загруженные пользователем медиафайлы
/media/

# Секретные ключи (если хранятся в отдельном файле)
.env
local_settings.py

# ====================================
# IDE / OS
# ====================================
# PyCharm / IntelliJ
.idea/
# VS Code
.vscode/

# macOS
.DS_Store