# 1. Виртуальное окружение (обязательно исключить)
.venv/
venv/
env/

# 2. База данных (в ней ваши локальные данные и пароли)
db.sqlite3

# 3. Служебные файлы Python (кэш)
__pycache__/
*.pyc
*.pyo
*.pyd

# 4. Настройки IDE (PyCharm, VS Code)
.idea/
.vscode/

# 5. Frontend зависимости (если используете npm/node)
node_modules/
package-lock.json  # Иногда оставляют, но если это просто для Bootstrap, можно убрать

# 6. Медиа файлы (загруженные пользователями)
media/